.body{
    background: #00F260; 
    background: -webkit-linear-gradient(to right, #0575E6, #00F260); 
    background: linear-gradient(to right, #0575E6, #00F260);

}
.insertimage{
    margin-left: 5%;
}
.body1{
    background: #00F260; 
    background: -webkit-linear-gradient(to right, #0575E6, #00F260); 
    background: linear-gradient(to right, #0575E6, #00F260);
}
.cuadrado {
    width: 335px; /* Ancho del cuadrado */
    height: 30px; /* Altura del cuadrado */
    background-color: #7cd1f3;
}
.card{
    margin-left: 37%;
}
.idioma{
    margin-left: 30%;
}
.probabilidadimg1{
    margin-left: 10%;
}